<p><%= link_to "edit profile", edit_user_path(current_user) %> </p> 
<h1> 
	<p> username: <%= @user.username %> </p>
	<p> email: <%= @user.email %> </p>
	
</h1>
 
<% if @characters[0].nil? %>
  <%= link_to "hey buddy, how about you make a character?", "/character_creater" %>
<% else %>   
  <h3> your characters: </h3>
  <% @characters.each do |character| %>
    <li>
      <%= link_to character.race, character %> 
      <%= link_to character.character_class, character %>
    </li>
  <% end %>
<% end %>
