
<% @statements.each do |statement| %>
	<p> <%= statement.content %> </p>
<% end %>


<%= form_for([@game, @statement]) do |f| %>
	
<p>
  <%= f.text_area :content %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
 


<% x = "/action?character=#{@character.id}&amp;game=#{@game.id}&amp;guy=#{@user.id}"%>
<a data-method="put" href= <%= x %> > 
	<%= "act"%>
</a>  