<h3> characters playing this game </h3>
<% @all_characters.each do |character| %>
	<p> <%= "#{character.race} #{character.character_class}" %> </p>
	<% end %>

<div class = "game_body">
	<% @statements.each do |statement| %>
	<p> <%= statement.content %> </p>
	<% end %>

</div>
	<%= form_for([@game, @statement]) do |f| %>

	<p>
	<%= f.text_area :content %>
	</p>
	<p>
	<%= f.submit %>
	</p>

	<% end %>


<% unless @character.nil? %>
	
	<% x = "/action?character=#{@character.id}&amp;game=#{@game.id}&amp;guy=#{@user.id}&amp;thing=hp"%>	
		
	<a data-method="put" href= <%= x %> > 
		<button> act </button>
	</a>
<% end %>



  