
<h3> characters playing this game: </h3>
<% @all_characters.each do |character| %>
	<p> <%= "#{character.race} #{character.character_class}" %> </p>
	<% end %>

<% if @encounter %>
	<h3> monsters in this encounter: </h3> 
	<% @current_monsters.each do |monster_data| %>
	<p> <%= "#{monster_data.monster.name}" %> </p>
	<% end %>
	<h3> current turn: </h3>
	
	<%= is_monster?(@current_player) %>		
<% end %>	

<div class = "game_body">
	<% @statements.each do |statement| %>
	<p> <%= statement.content %> </p>
	<% end %>

</div>
	<%= form_for([@game, @statement]) do |f| %>

		<p>
		<%= f.text_area :content %>
		</p>
		<p>
		<%= f.submit %>
		</p>

	<% end %>

<% unless @encounter.nil? %> <%#is an encounter currently active? 
								if so let folks use abilities %>
	<% if @character.nil? %>

		<p>available actions:</p>
		<% x = "#"%>	
		
		<% @current_monsters.each do |monster_data| %> 
			<p> <%= monster_data.monster.name %>'s actions: </p>
			<% @monster_actions = monster_data.monster.combat_actions %>
			
			<% @monster_actions.each do |action| %>
				<a data-method="put" href= <%= x %> > 
					<button> <%= action.name  %> </button>
				</a>
				<%count = 0%>
				<%= form_tag("/statements/do_action", method: "post") do %>
					<% @players.each do |player| %>
						<%= label_tag("player"+count.to_s, is_monster?(player)) %>
						<%= check_box_tag("player"+count.to_s) %>
						<% count +=1 %>
					<% end %>
					<%= submit_tag("commit act") %>
					<%= hidden_field_tag(:game_id, @game.id) %>
					<%= hidden_field_tag(:action_id, action.id) %>
					<%= hidden_field_tag(:player_id, monster_data.id) %>	
					<%= hidden_field_tag(:player_type, "monster") %>
				<% end %>
					
			<% end %>
			
	
		<% end %>
				
	<% elsif !@character.nil? %>	
		<p>available actions:</p>
		<% x = "#"%>	
			
		<% @character_actions.each do |action| %>
			
			<a data-method="put" href= <%= x %> > 
				<button> <%= action.name  %> </button>
			</a>
				<%count = 0%>

				<%= form_tag '/statements/do_action' do %>
					<% @players.each do |player| %>
					    <%= check_box_tag("player"+count.to_s) %>
						<%= label_tag("player"+count.to_s, is_monster?(player)) %>	
					    <% count +=1 %>
					<% end %>
					<%= hidden_field_tag(:game_id, @game.id) %>
					<%= hidden_field_tag(:action_id, action.id) %>
					<%= hidden_field_tag(:player_id, @character.id) %>
					<%= hidden_field_tag(:player_type, "character") %>
					<div><%= submit_tag 'commit act' %></div>	
				<% end -%>	
		<% end %>
	<% end %>
	
<% end %>



  