<p> body: <%= @game.body %> </p>

<%= form_for @game do |f| %>

<p>
  <%= f.text_area :statement %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>

<% x = "/action?character=#{@character.id}&amp;game=#{@game.id}&amp;guy=#{@user.id}"%>
<a data-method="put" href= <%= x %> > 
	<%= "act"%>
</a>  