<h3>characters playing this game</h3>
<% @characters.each do |character| %>
	<p><%= "#{character.name} the #{character.race} #{character.character_class}" %></p>
<% end %>

<% if @user.id != @game.gamemaster_id  %>

	<% if !@user.characters.nil? %>
		
		<% if @can_make_request %>

			<%= link_to "ask to join game", controller: "join_game_requests", action: "send_request", player: @user.id, master: @master_id, character: 12, game: params[:id], method: :post%>			
		<% end %>
 

	<% end %>
<% end %>
<h3>monsters included in this game</h3>
<% @monsters.each do |monster| %>
	<p><%= monster.name %></p>
<% end %>

<% if @user.id == @game.gamemaster_id  %>
	<% @requests.each do |request| %>
		<%= link_to "accept", controller: "join_game_requests", action: "answer_request", request_id: request.id, player: request.player_id, master: request.master_id, character: request.character_id, answer: true, game: params[:id], method: :post%>
	<% end %>

	<h3>add monsters to this game</h3>
	<%= form_tag("/games/add_monsters", method: "post") do %>
		<% @monsters.each do |monster| %>
			<p><%= label_tag("monster"+monster.id.to_s, monster.name) %>
			<%= check_box_tag("monster"+monster.id.to_s) %>
			</p>		
		<% end %>
		<%= submit_tag("add to your game") %>
		<%= hidden_field_tag(:game_id, @game.id) %>
	<% end %>	
<% end %>
