<script type="text/javascript" src="/javascripts/new_character.js"></script>
<h1> create a new character </h1>
	
	<p>ok lets build a character.</p>
	<p> start by rolling some dice.
		Then set your ability scores
	 </p>

	<button id="button" onclick = "buffer_function()"> roll dice </button>

	<%= form_for(@character) do |f| %>
		<p>
	 		<%= f.label :strength %>
	 		<%= f.select(:strength, [['-'],[''],[''],[''],[''],[''],['']]) %>
		</p>
		<p>
			<%= f.label :dexterity%>
			<%= f.select(:dexterity, [['-'],[''],[''],[''],[''],[''],['']]) %>		
		</p>
		<p>
			<%= f.label :constitution%>
			<%= f.select(:constitution, [['-'],[''],[''],[''],[''],[''],['']]) %>
		</p>
		<p>
			<%= f.label :intelligence%>
			<%= f.select(:intelligence, [['-'],[''],[''],[''],[''],[''],['']]) %>
		</p>
		<p>
			<%= f.label :wisdom%>
			<%= f.select(:wisdom, [['-'],[''],[''],[''],[''],[''],['']]) %>
		</p>
		<p>
			<%= f.label :charisma%>
			<%= f.select(:charisma, [['-'],[''],[''],[''],[''],[''],['']]) %>
		</p>
		<p>
		<%= f.label :race %>
		<%= f.select(:race, [['Human'],['Elf'],['Halfelf'],['Dwarf'],['Halfling'],['Gnome'],['Halfork']]) %>
		</p>				
		<p>
		<%= f.label :character_class %>
		<%= f.select(:character_class, [['Bararian'],['Bard'],['Cleric'],['Druid'],['Fighter'],['Monk'],['Paladin'],['Ranger'],['Rogue'],['Sorcerer'],['Wizard']]) %>
		</p>
		<%= f.submit "Create character" %>

	<%end%>


