<script type="text/javascript" src="/javascripts/new_character.js"></script>
<h1> create a new character </h1>
	
	<p>ok lets build a character.</p>
	<p> start by rolling some dice.
		Then set your ability scores
	 </p>

	<button id="button" onclick = "buffer_function()"> roll dice </button>

	<%= form_for(@character) do |f| %>
	 	<%= f.label :strength %>
	 	<%= f.select(:strength, [['-'],[''],[''],[''],[''],[''],['']]) %>

		<%= f.label :dexterity%>
		<%= f.select(:dexterity, [['-'],[''],[''],[''],[''],[''],['']]) %>

		<%= f.label :constitution%>
		<%= f.select(:constitution, [['-'],[''],[''],[''],[''],[''],['']]) %>

		<%= f.label :intelligence%>
		<%= f.select(:intelligence, [['-'],[''],[''],[''],[''],[''],['']]) %>

		<%= f.label :wisdom%>
		<%= f.select(:wisdom, [['-'],[''],[''],[''],[''],[''],['']]) %>

		<%= f.label :charisma%>
		<%= f.select(:charisma, [['-'],[''],[''],[''],[''],[''],['']]) %>

		<%= f.label :race %>
		<%= f.select(:race, [['Human'],['Elf'],['Halfelf'],['Dwarf'],['Halfling'],['Gnome'],['Halfork']]) %>

		<%= f.submit "Create character" %>

	<%end%>

	<%if false%>
	[['Human'],['Elf'],['Halfelf'],['Dwarf'],['Halfling'],['Gnome'],['Halfork']]) %>
		<%end%>

