<% skill_set = json_to_hash(@character.skill_set).to_a %> 
<% keys = ["related_ability","ability_mod","race_bonus"] %> 

<h1> Character: </h1>
<p> 
	str score: <%= json_to_hash(@character.strength)["score"] %> 
	str mod: <%= json_to_hash(@character.strength)["mod"] %>
</p>
<p>
	dex score: <%= json_to_hash(@character.dexterity)["score"] %> 
	dex mod: <%= json_to_hash(@character.dexterity)["mod"] %>
</p>	
<p>
	con score: <%= json_to_hash(@character.constitution)["score"] %> 
	con mod: <%= json_to_hash(@character.constitution)["mod"] %>
</p>
<p>
	int score: <%= json_to_hash(@character.intelligence)["score"] %> 
	int mod: <%= json_to_hash(@character.intelligence)["mod"] %>
</p>
<p>
	wis score: <%= json_to_hash(@character.wisdom)["score"] %> 
	wis mod: <%= json_to_hash(@character.wisdom)["mod"] %>
</p>
<p>
	cha score: <%= json_to_hash(@character.charisma)["score"] %> 
	cha mod: <%= json_to_hash(@character.charisma)["mod"] %>
</p>

<p> race: <%= @character.race %> </p>
<p> class: <%= @character.character_class %> </p>

<%= skill_set[1][1] %>
	<p>skill,    total  ability mod  race mod  class skill</p>
	<%count = 1%>

	<% (1..skill_set.length-1).each do |i| %>
	  
		<p> 
			<%= skill_set[i][1]["skill_name"] %> 
			
			<% if skill_set[i][1]["Total_bonus"] == nil%>
				_ =
			<% else %>
				<%= skill_set[i][1]["Total_bonus"] %> =
			<% end %>

			<% keys.each do |key| %>
				<% if  skill_set[i][1][key] == nil%>
					_ +
				<% else %>
					<%= skill_set[i][1][key] %> +
				<% end %>		
				<%= skill_set[i][1]["class_skill_bonus"] %>		
			<% end %>

		</p> 

	<% end %>	



		





