<h1> Character: </h1>

str: <%= @character.strength %>
dex: <%= @character.dexterity %>
con: <%= @character.constitution %>
int: <%= @character.intelligence %>
wis: <%= @character.wisdom %>
cha: <%= @character.charisma %>