<% unless current_user.nil? %>
	<% ids=[]; @guys = current_user.characters %>
	<% @guys.find_each do |guy| %>
		<% ids << guy.game_id %>
	<% end %>
	<% @games = Game.where(id: ids) %>
	<% @your_games = Game.where(gamemaster_id: current_user.id)%>
<% end %>


<div class="horizontal">
	<ul class="header">
		<li> <%= link_to "home",root_path, id: "tab"%> </li>
		<% if logged_in? # method deffined in sessions_helper %>
			<li> <%= link_to "profile", user_path(current_user), id: "tab" %>	 </li>
			<li> <%= link_to "characters", "/characters", id: "tab" %> </li>
			<li> <%= link_to "games", your_games_path, id: "tab" %> </li>
			<li><%= link_to "Log out", logout_path, method: "delete", id: "tab" %> </li>
		<% else %>
			<li> <%= link_to "sign up",signup_path, id: "tab" %> </li>
			<li> <%= link_to "login",login_path, id: "tab" %> </li>
		<% end %>
	</ul>
</div>


